$background: #8BC34A;
$button: #558B2F;
$accent: #33691E;

body {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Tahoma, Helvetica, sans-serif;
  background-color: $background;
}

h2 {
	text-shadow: 0 4px 8px $accent;
	color: #fff;
	font-size: 2.5em;
	margin: 3% 0 4%;
}

.bold {
	font-weight: bold;
}

#homeTitle {
  font-family: serif;
  font-style: italic;
  font-size: 14em;
  color: #fff;
  text-shadow: 0 4px 8px $button;
  margin: 8% 0 2%;
}

#homeSlogan {
	font-family: sans-serif;
	text-shadow: 0 4px 8px $button;
	color: #fff;
	font-size: 1.9em;
	margin: 5% 0 8%;
	padding-left: 11%;
}

#container {
	width: 80%;
	margin: 0 auto;
}

#entry-screen {
	background-image: url("http://cliparts.co/cliparts/gTe/obG/gTeobG8Gc.png");
  	background-repeat: no-repeat;
  	background-position: 110% 0%;
}

.middle{
  display: block;
  text-align: center;
  margin: 0 auto;
}

.page {
	padding-bottom: 4%;
}

#content {
	text-align: center;
}

#content input {
	margin-bottom: 5%;
	width: 80%;
	font-size: 2em;
	height: auto;
}

#content.create-account input,
#content.create-account textarea {
	margin-bottom: 5%;
	width: 100%;
	font-size: 2em;
	height: auto;
}

#content button {
	display: inline-block;
	background-color: $button;
	color: #fff;
	border: 2px solid $accent;
	border-radius: 10px;
	margin: 0 10px;
	font-size: 1.6em;
	padding: 1% 2%;
}

#content button:hover {
	background-color: $accent;
}

.sign-up,
.profile-page,
.activity-page,
.activity-match-page,
.confirm-activity-page {
	width: 80%;
	margin: 0 auto;
}

#ajada-header {
	background-color: $button;
	border-radius: 10px;
	border: 2px solid $accent;
	text-align: center;
	padding: 4%;
	margin: 4% 0;
}

.head {
	float: left;
	margin-right: 0 2%;
	width: 100px;
}

#gender-options {
	border-top: 1px solid $button;
	width: 100%;
	padding: 4% 0;
}

#orientation-options {
	border-top: 1px solid $button;
	border-bottom: 1px solid $button;
	width: 100%;
	padding: 4% 0;
	margin-bottom: 4%;
}

#gender-options input.middle,
#orientation-options input.middle {
	display: inline-block;
	width: auto;
	box-shadow: none;
	font-size: 1.9em;
	margin-bottom: 1%;
}

#gender-options label,
#orientation-options label {
	font-size: 1.4em;
	margin: 0 3% 0 1%;
	font-weight: normal;
}

#gender-options label:last-child,
#orientation-options label:last-child {
	margin-right: 0;
}

#content img {
	float: left;
	margin-right: 30px;
}

#personal-info {
	text-align: left;
	margin-bottom: 25px;
}

#match-info {
	text-align: left;
}

#match-info h3 {
	margin-top: 0;
}

#personal-info h3,
#match-info h3 {
	color: $accent;
}

#event-list, 
#people-list {
	border: 1px solid $button;
	margin-bottom: 40px;
	padding: 0 3%;
}

#event-list-header {
	background-color: $button;
	color: #fff;
	text-align: left;
	padding: 20px 0 20px 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#event-list-header h3 {
	margin: 0;
}

#event-list-header > button {
	float: right;
	margin-right: 10px;
	font-size: 1.4em;
	position: relative;
	top: -35px;
}

.event {
	border-bottom: 1px solid $button;
	min-height: 150px;
	text-align: left;
	padding: 20px 0;
}

.event:last-child {
	border-bottom: 0;
}

.glyphicon-heart {
	float: right;
	position: relative;
	top: -35px;
	color: $button;
	border: 1px solid $button;
	padding: 8px 8px 6px 6px;
	border-radius: 6px;
}

.glyphicon-heart:hover {
	color: #fff;
	background-color: $accent;
}






